Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
 
# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<Files composer.json>
    Order allow,deny
    Deny from all
</Files> 

Options -Indexes
ErrorDocument 403 /404.html
	
	   
	 
	